* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fefefe;
}

header {    
    text-align: center;
}

.main-container {
    display: flex;
    align-items: center;
}
.pwd-generated {
    margin-top: 20px;
    width: 200px;
    height: 30px;
    background: red;
    border-radius: 5px;
   text-align: center;

}