* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fefefe;
}


header {    
    margin-top: 20px;
    text-align: center;

}
.bx-lock-alt {
    font-size: xx-large;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwd-generated {
    margin-top: 20px;
    width: 300px;
    height: 50px;
    background: red;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.bx-copy {
    font-size: xx-large;
}