@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    transition: background 0.25s linear;
    
}

body {
    background: #090909;
    color: #fefefe;
}


header {    
    margin: 75px 0 0 0;
    text-align: center;
}

.bx-lock-alt {
    font-size: xx-large;
}

.pwd-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwd-generated {
    width: 350px;
    height: 50px;
    background: #313131;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(15px, 25px, 25px);
}

.bx-copy {
    font-size: xx-large;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.pwd-configs {
    background: #313131;
    width: 350px;
    height: 500px;
    border-radius: 5px;
    
}

.length {
    margin: 10px 0;    
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.bar {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}

input {
    width: 17px;
    height: 17px;
    margin:10px 15px;
}

input[type="checkbox"]:checked{
    accent-color: #7945F5;
}
.str-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.strenght {
    background: #454545;
    width: 90%;
    height: 60px;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    align-items: center;
    border-radius: 5px;

}

.str-bar {
    font-weight: bolder;
}

.btn-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: #fefefe;
    margin-top: 25px;
    width: 90%;
    height: 60px;
    background: #7945F5;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #783CBD;
}

/* dark-mode toggle button */

.dark-mode-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -690px;
}

body.dark {
    background: #E8F1F2;
    color: #090909;
  }

.pwd-generated-alt {
    background: #C8C6C4;
    
}

.pwd-configs-alt {
    background: #C8C6C4;
}

.strenght-alt {
    background: #9e9e9e;
}

.label-alt {
    background: #C8C6C4 !important;
    
}

.btn-alt {
    background: #B098C1;
    color: #090909;
}

.btn-alt:hover {
    background: #8D69a2;
   
}

  .dark-mode {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background: #454545;
    width: 80px;
    height: 24px;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }

  .ball {
    width: 30px;
    height: 20px;
    background: #fefefe;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 10px;
    transition: transform 0.2s linear;
  }
  
  .dark-mode:checked + .label .ball{
    transform: translateX(45px);
  }
  
  .bxs-moon {
    color: #fefefe;
  }
  
  .bxs-sun {
    color: gold;
  }